@import '../../../scss/main.scss';
.button {
    @include text(15px, 400, $WHITE);
    font-family: 'Poppins', sans-serif;

    background-color: $BLACK;

    cursor: pointer;

    border: 0px;

    transition: color 0.2s;
}

.button:hover {
    color: gray;
}

.default {
    padding: 10px 20px 10px 20px;
}

.large {
    padding: 0px;
}

.small {
    padding: 0px;
}