@import '../../../scss/main.scss';

.productPreView {
    &__imageProduct {
            width: 300px;
            height: 350px;
    }
    .descriptionProduct {
        margin-left: 20px;
        &__sexProduct {
            @include text(13px, 400, $DARKBEIGE);
            font-family: 'Poppins', sans-serif;
        }
        &__nameProduct {
            @include text(20px, 600, $BLACK);
            font-family: 'Poppins', sans-serif;
        }
        &__priceProduct {
            @include text(13px, 700, $DARKBEIGE);
            font-family: 'Poppins', sans-serif;
        }
    }
}