@import '@styles/main.scss';

.modalWrapper {
    @include flex(center, center);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: $black, $alpha: 0.4);
}