@import "@styles/main.scss";

.descriptionCategory {
    @include flex-col(space-between);

  &__title {
    @include text(50px, 400, $black);
    
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
  }

  &__quantityItemsAndTypeSort {
    @include flex-row(space-between, center);

    margin: 0px 0px 40px 0px;
    .quantity {
      @include text(13px, 400, $darkBeige);

      font-family: "Poppins", sans-serif;
    }
    
    .typeSort {
        @include text(14px, 400, $darkBeige);

        padding: 15px 0px 15px 10px;
        font-family: "Poppins", sans-serif;
        background: $white;
        border: 0px;
    }
    .typeSort:focus {
        border: 1px $gray;
        border-style: dotted;
    }
  }
}
