@import '../../scss/main.scss';

.MenOrWomenCategory {
    @include flex(center, center);
    margin-bottom: 50px;
    &__wrapper{
        @include flex(center, center);
        .buttonChoose {
            border: 0px;
            margin-right: 25px;

            position: relative;
            
            display: flex;
            justify-content: center;
            
            transition: all 0.5s;

            cursor: pointer;

            &__imgSex {
                width: 560px;
                height: 570px;
                  
                background-size: cover;
            }
            &__description {
                position: absolute;
                bottom: 30px;
                right: 10px;

                background-color: rgba($color: #fff, $alpha: 0.9);
                
                width: 90%;
                padding: 15px 0px 15px 0px;
            }
        }
        .buttonChoose:last-child {
            margin-right: 0px;
        }
        .buttonChoose:hover {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }
    }
}