@import "@styles/main.scss";

.springSummerCollection {
  position: relative;
  width: 50%;
  height: 700px;
  margin-bottom: 100px;

  &__backgroundRectangle {
    width: 100%;
    height: 100%;
    background-color: $pink;

    .aboutCollection {
      @include flex-row(space-between, center);

      position: absolute;
      top: -60px;
      right: -500px;

      &__colectionPreViewImage {
        margin-right: 50px;
      }

      &__collectionDescription {
        width: 570px;

        .sex {

          @include text(13px, 400, $darkBeige);

          font-family: Poppins, sans-serif;
        }

        .title {

          @include text(30px, 600, $black);

          font-family: Poppins, sans-serif;
        }

        .description {

          @include text(13px, 400, $darkBeige);

          margin-bottom: 30px;
          font-family: Poppins, sans-serif;
        }
      }
    }
  }
}
