@import "@/styles/main.scss";


.wrapper {
  @include flex(space-between, center);

  width: 100%;
  margin:  0 auto;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  &__logo {
    width: 119px;
    .logoTshirtTopText {
      @include text(23px, 800, $black);

      font-family: "Poppins", sans-serif;
      text-align: center;
      letter-spacing: 2px;
    }
    .logoTshirtLine {
      width: 100%;
      margin: 0 auto;
      border: 1px solid $gray;
    }
    .logoTshirtBottomText {
      @include text(15px, 400, $gray);

      font-family: "Poppins", sans-serif;
      letter-spacing: 20px;
    }
  }

  &__logo a {
    text-decoration: none;
  }
  
  &__userButtons {
    @include flex(space-between);

    width: 220px;
    margin: 0px;
    .imageButtonsUser {
      width: 16px;
      height: 18px;
    }
    .userButtonsBuySearch {
      cursor: pointer;
      background-color: white;
      border: none;
    }
    .logInButton {
      @include text(14px, 600, $black);

      cursor: pointer;
      font-family: "Poppins", sans-serif;
      background-color: white;
      border: none;
    }
  }
  
}