@import '@/styles/main.scss';

.productPreView {
    display: inline-block;
    margin-right: 20px;
    &__imageProduct {
            width: 300px;
            height: 350px;
    }
    .descriptionProduct {
        margin-left: 20px;
        &__sexProduct {
            @include text(13px, 400, $darkBeige);

            font-family: 'Poppins', sans-serif;
        }
        &__nameProduct {
            @include text(20px, 600, $black);

            max-width: 420px;
            font-family: 'Poppins', sans-serif;
        }
        &__priceProduct {
            @include text(13px, 700, $darkBeige);

            font-family: 'Poppins', sans-serif;
        }
    }
}

.default {
    width: 300px;
    height: 350px;
}

.large {
    width: 420px;
    height: 520px;
}