@import '../../../scss/main.scss';

.galleryProductItems {
    @include flex-col(center, center);
    margin-bottom: 50px;
    .collectionName {
        @include text(13px, 400, $DARKBEIGE);
        font-family: 'Poppins', sans-serif;
    }
    .title {
        @include text(30px, 600, $BLACK);
        font-family: 'Poppins', sans-serif;
        margin-bottom: 30px;
    }
    .productItems {
        @include flex-row(space-around)
    }
}