@import '@/styles/main.scss';

.bannerShopCollection {
    @include flex(space-around, center);

    margin-bottom: 100px;
    background-color: #FAEDEB;
    &__wrapperCheckCollection {
        .title {
            @include text(15px, 500, $darkBeige);

            font-family: 'Poppins', sans-serif;
        }
        .description {
            @include text(60px, 800, $black);

            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 2px;
        }
    }
    &__wrapperBannerImage {
        .bannerImage {
            height: 700px;
        }
    }
}